:root{
    --font-sans:
    "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono:
    "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --theme-color:red;
    --theme-background:#f1f1f1;
    --theme-flair: #818181;
--theme-black: #868686;
--theme-white: #ffffff;
--flair-light: #1876d269;
--flair-dark: #0a5eb0;
}
body{
    margin: 0;
    background-color: #fff;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
}
.shift-card{transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}

a {
    text-decoration: none;
    color: var(--theme-black);
}

header .banner {
    font-family: var(--font-mono);
    font-size: 3em;
    background: url('https://s3.ap-south-1.amazonaws.com/mgks.dev/cache/cropped-mgks.dev-logo.png') 0 0 no-repeat;
    background-size: 100%;
    text-indent: -500px;
    height: 50px;
    width: 50px;
}

.lefty {
    float: left;
    left: 0;
}

.righty {
    float: right;
    right: 0;
}

header {
    padding: 1.5em 2em;
    overflow: hidden;
}

.menu a {
    display: inline-block;
    margin: 0 1em;
    float: left;
    transition: .25s;
}

.menu {
    font-family: var(--font-mono);
}

.menu .link b {
    display: block;
    color: var(--flair-dark);
    font-size: .85em;
    font-weight: 100;
}

.menu span.button {
    padding: .5em 1em;
    border-radius: 3px;
    background-color: var(--flair-light);
    transition: .5s;
    color: var(--flair-dark);
}

.menu span.button:hover {
    background-color: var(--light-flair);
}

.menu a:hover {
    color: var(--flair-dark);
}

.menu span.button:hover {
    background-color: var(--flair-dark);
    color: var(--theme-white);
}

.socialy ul {
    list-style: none;
    padding: 0;
}

.socialy ul li {
    display: block;
    width: 1.25em;
    margin: 0 0 1.5em;
}

.socialy ul, .bar-email {
    width: 3em;
    margin: 0 1em;
    background-color: var(--theme-white);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    bottom: 0;
}

footer {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: var(--theme-white);
    margin: 5em 0;
    /* padding-bottom: 2em; */
}

.bar-v {
    height: 50em;
    width: 1px;
    margin: 0 auto;
    display: block;
    border-left: 2px solid var(--theme-black);
}

.bar-email {font-size: 1em;}

.emaily {
    font-family: var(--font-mono);
}

.socialy ul:after,.bar-email:after {
    content: "";
    display: block;
    width: 1px;
    height: 7em;
    margin: 0 auto;
    background-color: var(--theme-black);
}

.bar-email a {
    margin: 1em auto;
    padding-bottom: 1em;
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: var(--fz-lg);
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.socialy, .emaily {
    bottom: 0;
    position: fixed;
    z-index: 1;
}

.work-area {
    min-height: 50em;
    width: 100%;
}

.border {
    height: 0.25em;
    margin: 0 39.5px;
    border: 1px solid var(--theme-black);
    border-top: 0;
    border-radius: 0 0 10px 10px;
}

.foot-bracket {
    font-family: var(--font-mono);
    font-size: .85em;
    padding: 2.5em 0;
}

.bar-email a:hover, .socialy ul li a:hover {color: var(--flair-dark);transform:translateY(-3px);}