:root{
    --font-sans:
    "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono:
    "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --theme-color: #1876d2;
    --theme-lcolor: #7a9fce;--theme-dark: #0a5eb0;
    --theme-red: #d51313;
    --theme-lred: #ff6c6c;
    --theme-background: #f1f1f1;
    --theme-lgrey: #a1cdf7;
    --theme-grey: #484848;
    --theme-black: #2a2a2a;
    --theme-white: #ffffff;
    --theme-light: #1876d269;
    --theme-backdrop: #a8d0ff21;--dark-background: #001830;
}
body{
    margin: 0;
    background-color: #fff;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    max-height: 100vh;
}
.absolute{position:absolute;z-index: 1;}
canvas {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
}
.shift-card{transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);}

a {
    text-decoration: none;
    color: var(--theme-grey);
}

header .banner {
    font-family: var(--font-mono);
    font-size: 2.5em;
    background-size: 100%;
    height: 1.075em;
    width: 1.075em;
    background-color: var(--theme-light);
    border-radius: 100%;
}

.lefty {
    float: left;
    left: 0;
}

.righty {
    float: right;
    right: 0;
}

header {
    padding: 1em 3%;
    overflow: hidden;
    z-index: 2;
    position: fixed;
    width: 94%;
    backdrop-filter: blur(15px);
    top: 0;
}

.menu a {
    display: inline-block;
    margin: 0 1em;
    float: left;
    transition: .5s;
}

.menu {
    font-family: var(--font-mono);
    margin: .5em 0;
    font-size: .9em;
}

.menu .link b {
    display: block;
    color: var(--flair-dark);
    font-size: .85em;
    font-weight: 100;
}

.menu span.button {
    padding: .5em 1em;
    border-radius: 3px;
    background-color: var(--theme-light);
    transition: .5s;
    color: var(--theme-dark);
}

.menu span.button:hover {
    background-color: var(--light-flair);
}

a:hover {
    color: var(--theme-dark);
}

.menu span.button:hover {
    background-color: var(--theme-dark);
    color: var(--theme-lgrey);
}

.socialy ul {
    list-style: none;
    padding: 0;
}

.socialy ul li {
    display: block;
    width: 1.25em;
    margin: 0 0 1.5em;
}

.socialy ul, .bar-email {
    width: 3em;
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    bottom: 0;
}

footer {
    overflow: hidden;
    z-index: 2;
    position: relative;
    text-align: center;
    width: 22em;
    margin: 2em auto;
}

.bar-v {
    height: 50em;
    width: 1px;
    margin: 0 auto;
    display: block;
    border-left: 2px solid var(--theme-black);
}

.bar-email {}

.emaily {
    font-family: var(--font-mono);
}

.socialy ul::after, .bar-email::after {
    content: "";
    display: block;
    width: 1px;
    height: 10em;
    margin: 0 auto;
    background-color: var(--theme-lgrey);
}

.bar-email a {
    margin: 1em auto;
    padding-bottom: 1em;
    font-size: .85em;
    font-family: var(--font-mono);
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.socialy, .emaily {
    bottom: 0;
    position: fixed;
    z-index: 1;
}

.work-area {
    width: 80%;
    min-height: 66vh;
    margin: 20vh 10% 0;
}

.disable-events{
    pointer-events: none;
}

.border,.r-border {
    height: 0.5em;
    margin: 0 39.5px;
    border: 1px solid var(--theme-lgrey);
}

.foot-bracket {
    font-family: var(--font-mono);
    font-size: .8em;
    padding: 1em 0;
    letter-spacing: .5px;
    width: 22em;
    border-radius: 5px;
    backdrop-filter: blur(15px);
}

.emaily .bar-email a:hover, .socialy ul li a:hover {color: var(--theme-dark);transform:translateY(-3px);}

.built svg {
    width: 18px;
    color: var(--theme-red);
    margin: -5px 0;
}

.sponsor {
    margin-bottom: .5em;
}

footer a:hover {
    color: var(--flair-dark);
}

body.dark .socialy ul, body.dark .bar-email, body.dark footer {
    background-color: var(--dark-background);
}

body.dark a {
    color: var(--theme-lgrey);
}

body.dark .border,body.dark .r-border {
    border-color: var(--theme-lgrey);
}

body.dark .built svg {
    color: var(--theme-lred);
}

body.dark .socialy ul:after, body.dark .bar-email:after {
    background-color: var(--theme-lgrey);
}

body.dark a:hover {
    color: var(--theme-white);
}

.border {
    border-top: 0;
    border-radius: 0 0 10px 10px;
}

.r-border {
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
}

.header-holder {
    width: 100%;
    position: fixed;
    opacity: 1.0;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    z-index: 10;
}

.menu a .link {
    line-height: 2em;
}

.wa-welcome .waw-hello {
    font-family: var(--font-mono);
    color: var(--theme-dark);
    font-weight: 500;
    margin-bottom: 1em;
}

.wa-welcome .waw-hello, .wa-welcome .waw-name, .wa-welcome .waw-work,.wa-welcome .waw-sub {
    display: block;
}

.wa-welcome .waw-name {
    font-size: 6em;
    font-weight: bold;
    color: var(--theme-black);
}

.wa-welcome .waw-work {
    font-size: 3em;
    font-weight: bold;
    color: var(--theme-dark);
}

.wa-welcome .waw-sub {
    font-size: 1em;
    font-family: var(--font-mono);
    color: var(--theme-grey);
    line-height: 1.5em;
    max-width: 60%;
    margin: 3em 0 0;
    font-weight: 500;
}

.wa-pgs {
    padding: 2em;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}

.wa-pgs h2 {
    font-size: 3em;
    color: var(--theme-lcolor);
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 0;
}

.wa-pgs h2::after {
    content: "";
    width: 30%;
    height: 1px;
    margin-left: .5em;
    background-color: var(--theme-light);
}

.waa-about {
    width: 60%;
    float: left;
    margin-right: 5%;
    color: var(--theme-grey);
}

.waa-pic {
    width: 30%;
    float: left;
}

.waa-pic img {
    width: 180%;
    border-radius: 100%;
    margin: -10em 0;
    filter: grayscale(0.5) contrast(0.9);
}

.waa-pic:hover {
    filter: none;
}

.waa-about ul {
    width: 35%;
    float: left;
}

.waa-about p {
    line-height: 1.5;
    font-weight: 500;
    margin: 1.5em 0 0;
}
.hide{
    display: none;
}

.backdrop {
    backdrop-filter: blur(15px) opacity(0.9);
    background-color: var(--theme-backdrop);
}

body:hover img {
    filter: grayscale(0.1) contrast(0.9);
}

.wa-about {
    max-width: 80%;
    margin: 0 auto;
}

.gl-tags {
    list-style: none;
    font-family: var(--font-mono);
    text-align: center;
}

.gl-tags li {
    margin: 0.5em 1em;
    padding: 0.25em 0;
    color: var(--theme-dark);
    font-weight: bold;
    border-radius: 5px;
}