<header class="loading-hidden unfade">
    <div class="loading-logo hide">
        <div class="circle-load"></div>
        <div class="banner disable-events">\.</div>
    </div>
    <div class="menu">
        <nav>
        <a href="{{ site.baseurl }}">mgks<span class="banner" title="home">\.</span>dev</a>
        <a href="{{ site.baseurl }}#projects"><span class="link hover-this">projects</span></a>
        <a href="{{ site.baseurl }}#experience"><span class="link hover-this">experience</span></a>
        <a href="{{ site.baseurl }}/blog"><span class="link hover-this">blog</span></a>
        <a href="{{ site.docs_url }}"><span class="link hover-this">docs</span></a>
        <a href="{{ site.baseurl }}#about"><span class="link hover-this">about</span></a>
        <a href="{{ site.baseurl }}#contact"><span class="link hover-this">contact</span></a>
        </nav>
    </div>
</header>