<div class="blog-post-card backdrop-sh">
    {% if post.image %}
    <a href="{{ post.url | relative_url }}" class="post-image">
        <img loading="lazy" src="{% if post.image contains '://' %}{{ post.image }}{% else %}{{ post.image | relative_url }}{% endif %}" alt="{{ post.title }}">
    </a>
    {% endif %}
    <div class="post-card-content">
        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
        <span class="post-date">{{ post.date | date_to_string }}</span>
        <p>{{ post.excerpt | strip_html | truncatewords:15 }}</p>
        <div class="post-meta">
            {% if post.tags.size > 0 %}
                <div class="post-tags">
                    {% assign sortedTags = post.tags | sort %}
                    {% for tag in sortedTags %}
                        <a href="{{ '/tag/' | append: tag | slugify | append: '/' | relative_url }}"><span>#{{ tag | slugify }}</span></a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div> 