<footer>
    <div class="container">
        <div class="text-center">
        </div>
        
        <div class="footer-links">
            <a href="/privacy" class="text-muted" style="font-size: 0.85rem;">Privacy</a>
            <span class="text-muted"><span class="text-accent">&middot;</span></span>
            <a href="/terms" class="text-muted" style="font-size: 0.85rem;">Terms</a>
        </div>
    </div>
</footer>