---
layout: default
---

<div class="work-area loading-hidden unfade">
    <div class="wa-post">
        <div class="wap-post">

            <!-- Post Title -->
            <h1 class="post-title">{{ page.title }}</h1>

            <!-- Post Date -->
            <p class="post-date">
                <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
                {% if page.last_modified_at %}
                <span>(Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)</span>
                {% endif %}
            </p>

            <!-- Post Featured Image -->
            {% if page.image %}
            <img loading="lazy" class="featured-image backdrop-sh" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | relative_url }}{% endif %}" alt="{{ page.title }}">
            {% endif %}

            <!-- Table of Contents -->
            {% if page.toc %}
                {% if page.beforetoc %}
                    <p class="toc-description"><em>{{page.beforetoc}}</em></p>
                {% endif %}
                <div class="post-toc">
                    <h3>Summary</h3>
                    {% include toc.html html=content %}
                </div>
            {% endif %}

            <!-- Post Content -->
            <div class="post-content">
                {{content}}
            </div>

            <!-- Tags -->
            <div class="post-meta">
                {% if page.tags.size > 0 %}
                <div class="post-tags">
                    <ul>
                    {% assign sortedTags = page.tags | sort %}
                    {% for tag in sortedTags %}
                        <li><a href="{{ '/tag/' | append: tag | append: '/' | slugify | relative_url }}">#{{ tag | slugify}}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>

            <!-- Post Navigation -->
            <div class="post-navigation">
                {% if page.previous.url %}
                <a class="prev-post" href="{{ page.previous.url | relative_url }}">
                    <span>Previous</span>
                    <h4>{{page.previous.title}}</h4>
                </a>
                {% endif %}
                
                {% if page.next.url %}
                <a class="next-post" href="{{ page.next.url | relative_url }}">
                    <span>Next</span>
                    <h4>{{page.next.title}}</h4>
                </a>
                {% endif %}
            </div>

            <!-- Comments -->
            {% if page.comments != false %}
            <div class="post-comments">
                {% include disqus.html %}
            </div>
            {% endif %}
        </div>
    </div>
</div>